<div class="footer-block">
  <div class="sup-head">
    <h2 class="content-title" id="contact-us">Contact us</h4>
  </div>

  <div class="sup-content">
    <table width="100%">
      <tr>
        <td>
          <i class="flag-icon flag-icon-de"></i>&nbsp;<i class="flag-icon flag-icon-us"></i>&nbsp;
          <i class="flag-icon flag-icon-gb"></i> CentralNic Reseller
        </td>
        <td>Mon. - Fri.</td>
        <td>8am - 2am CET/CEST</td>
      </tr>
    </table>
  </div>

  <div class="sup-issue">
    <p>
      <a class="btn btn-secondary" target="_blank" href="//www.centralnicreseller.com/#form-646712742698225788">New
        Support
        Ticket</a>
    </p>
  </div>

</div>